.container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputContainer h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3.5rem;
    color: #fff;
    margin-bottom: 1.5rem;
}
.inputContainer h1 span {
    color: var(--primary-color);
}
.inputContainer div {
    display: flex;
    margin-bottom: 2rem;
}
.inputContainer input {
    width: 100%;
    padding: 0.5rem 0.2rem 0.5rem 0;
    text-indent: 1rem;
    border: none;
    font-size: 1rem;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.inputContainer input::placeholder {
    font-size: 0,9rem;
}
.inputContainer button {
    padding: 0 1rem;
    height: 3rem;
    font-size:  0.8rem;
    text-transform: uppercase;
    font-weight: bold;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    color: #fff;
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
}

.result {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}
.result p {
    color: #fff;
    border: 1px solid var(--primary-color);
    padding: 0.5rem 1rem;
    margin-right:  1rem;
}

.result button {
    padding: 0.5rem 1rem;
    color: #fff;
    cursor: pointer;
    background: var(--primary-color);
    border: none;
}

.result button.copied {
    background:  #fff;
    color: var(--primary-color)
}
.noData{
    color: #fff;
    font-size: 1rem;
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #3E1E68;
    overflow: hidden;
    z-index: -1;
}

.background span {
    width: 10vmin;
    height: 10vmin;
    border-radius: 10vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 44;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #583C87;
    top: 56%;
    left: 40%;
    animation-duration: 18s;
    animation-delay: -37s;
    transform-origin: -8vw 12vh;
    box-shadow: 20vmin 0 3.3988592665939468vmin currentColor;
}
.background span:nth-child(1) {
    color: #E45A84;
    top: 65%;
    left: 97%;
    animation-duration: 44s;
    animation-delay: -33s;
    transform-origin: -15vw -16vh;
    box-shadow: 20vmin 0 3.0230254644546823vmin currentColor;
}
.background span:nth-child(2) {
    color: #E45A84;
    top: 5%;
    left: 5%;
    animation-duration: 13s;
    animation-delay: -32s;
    transform-origin: -12vw 11vh;
    box-shadow: -20vmin 0 2.7056555480128415vmin currentColor;
}
.background span:nth-child(3) {
    color: #E45A84;
    top: 90%;
    left: 34%;
    animation-duration: 52s;
    animation-delay: -17s;
    transform-origin: 9vw 2vh;
    box-shadow: -20vmin 0 3.1283302394617025vmin currentColor;
}
.background span:nth-child(4) {
    color: #FFACAC;
    top: 20%;
    left: 71%;
    animation-duration: 24s;
    animation-delay: -38s;
    transform-origin: -20vw -24vh;
    box-shadow: -20vmin 0 2.9037789690866376vmin currentColor;
}
.background span:nth-child(5) {
    color: #583C87;
    top: 13%;
    left: 76%;
    animation-duration: 44s;
    animation-delay: -8s;
    transform-origin: 22vw 21vh;
    box-shadow: -20vmin 0 3.489425535684721vmin currentColor;
}
.background span:nth-child(6) {
    color: #FFACAC;
    top: 54%;
    left: 70%;
    animation-duration: 53s;
    animation-delay: -59s;
    transform-origin: 11vw -1vh;
    box-shadow: 20vmin 0 2.5855297838694904vmin currentColor;
}
.background span:nth-child(7) {
    color: #E45A84;
    top: 89%;
    left: 3%;
    animation-duration: 14s;
    animation-delay: -10s;
    transform-origin: -17vw 16vh;
    box-shadow: -20vmin 0 3.4718269188169426vmin currentColor;
}
.background span:nth-child(8) {
    color: #583C87;
    top: 71%;
    left: 75%;
    animation-duration: 29s;
    animation-delay: -56s;
    transform-origin: 17vw -17vh;
    box-shadow: -20vmin 0 2.706965060997315vmin currentColor;
}
.background span:nth-child(9) {
    color: #FFACAC;
    top: 23%;
    left: 17%;
    animation-duration: 23s;
    animation-delay: -18s;
    transform-origin: 12vw 4vh;
    box-shadow: 20vmin 0 3.032960850290105vmin currentColor;
}
.background span:nth-child(10) {
    color: #E45A84;
    top: 37%;
    left: 89%;
    animation-duration: 56s;
    animation-delay: -34s;
    transform-origin: -10vw -15vh;
    box-shadow: 20vmin 0 3.2155203613290566vmin currentColor;
}
